/* page.module.css */

/* Styles pour l'en-tête */
.header {
  background-color: #333; /* Noir */
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px; /* Ajustez la taille selon votre logo */
}

.headerContent {
  display: flex;
  align-items: center;
}

.slogan {
  font-size: 18px;
  margin-left: 20px; /* Espace à gauche du slogan */
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ccc; /* Couleur au survol */
}
