.contact-container {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .contact-form {
    background-color: #ffffff; /* Blanc */
    color: #000000; /* Texte noir pour une bonne lisibilité sur fond blanc */
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 20px; /* Ajoutez du padding si nécessaire */
    border-radius: 8px; /* Facultatif, pour garder les bords arrondis */
  }
  
  .contact-form .form-control {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
  }
  
  .contact-form .btn-success {
    color: white;
    background-color: #3cb371;
    border-radius: 8px;
  }
  .contact-form img {
    width: 100%; 
    height: 80%; /* L'image prendra la hauteur totale du conteneur */
    object-fit: cover;
    border-radius: 8px;
    margin-top: 50px;
  }
  .contact-form .col-md-4 {
    max-width: 100%;
    overflow: hidden;
  }
  
  .contact-form .col-md-4 {
    min-height: 400px; /* Ajustez cette valeur selon vos préférences */
  }
  .contact-form button {
    margin-top: 20px; /* Ajustez la valeur selon vos préférences */
  }
  textarea {
    resize: none; /* Désactive le redimensionnement */
    width: 100%;  /* Optionnel : assure que le textarea prend toute la largeur disponible */
    height: 160px; /* Définir une hauteur fixe si vous le souhaitez */
  }
  
  
  /* Style pour les petites écrans (mobile) */
  @media (max-width: 768px) {
    .contact-container {
      padding: 10px;
    }
  
    .contact-form {
      padding: 20px;
    }
  
    .contact-form .row {
      flex-direction: column;
    }
  
    .contact-form .col-md-8, 
    .contact-form .col-md-4 {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .contact-form img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
  