.contact-container {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh; /* Prend toute la hauteur de la vue */
}

.contact-form {
  background-color: #ffffff; /* Blanc */
  color: #000000; /* Texte noir pour une bonne lisibilité sur fond blanc */
  max-width: 900px;
  width: 100%;
  padding: 20px; /* Ajoutez du padding si nécessaire */
  border-radius: 8px; /* Facultatif, pour garder les bords arrondis */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Facultatif, ajoute une ombre pour l'effet visuel */
  margin-top: -60px; /* Ajoutez une marge négative pour remonter la boîte */
}

.contact-form .form-control {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}


.contact-form .btn-success {
  color: white;
  background-color: #3cb371;
  border-radius: 8px;
}

.contact-form img {
  width: 100%; 
  height: 80%; /* L'image prendra la hauteur totale du conteneur */
  object-fit: cover;
  border-radius: 8px;
  margin-top: 50px;
}

.contact-form .col-md-4 {
  max-width: 100%;
  overflow: hidden;
}

.contact-form .col-md-4 {
  min-height: 400px; /* Ajustez cette valeur selon vos préférences */
}

.contact-form button {
  margin-top: 20px; /* Ajustez la valeur selon vos préférences */
}

textarea {
  resize: none; /* Désactive le redimensionnement */
  width: 100%;  /* Assure que le textarea prend toute la largeur disponible */
  height: 145px; /* Définir une hauteur fixe */
  box-sizing: border-box; /* Assure que le padding est inclus dans la largeur et la hauteur */
  border-radius: 8px; /* Bord arrondi */
  padding: 10px; /* Ajoute un padding interne pour le confort d'utilisation */
  border: 1px solid #ccc; /* Ajoute une bordure légère */
  font-size: 16px; /* Taille de texte pour une meilleure lisibilité */
}


/* Style pour les petites écrans (mobile) */
@media (max-width: 768px) {
  .contact-container {
    padding: 10px;
    height: auto; /* Ajuste la hauteur pour les petits écrans */
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .col-md-8, 
  .contact-form .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-form img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
